# -*- mode: snippet -*-
# name:ftemp
# key: ftemp
# --

:PROPERTIES:
:Source: $1
:Serves:
:Time:
:Rating:
:Fav:
:END:

| Quantity | scale | Ingredient | Instructions |
|----------+-------+------------+--------------|
| $0         |       |            |              |
|          |       |            |              |
|          |       |            |              |

_*Directions*:_

#+BEGIN_EXAMPLE
#+END_EXAMPLE