# -*- mode: snippet; require-final-newline: nil -*-
# name: norg
# key: norg
# binding: direct-keybinding
# --

#+TITLE: $1
#+TODO: TODO(t)  | DONE(d)
#+CATEGORY: $2
#+TAGS: $3 
#+STARTUP: overview  inlineimages eval: (org-columns)
#+PRIORITIES: A
#+OPTIONS: toc:nil 
