# -*- mode: snippet; require-final-newline: nil -*-
# name: projfile
# key: projfile
# binding: direct-keybinding
# --
** $1
*** info file
id:
*** code
file:
*** meetings
*** TD $1
*** explore
*** related papers
**** Read Queue
**** Paper Summary
*** Manuscript