# -*- mode: snippet; require-final-newline: nil -*-
# name: rproj
# key: rproj
# binding: direct-keybinding
# --


** $1
*** info file
*** code
*** meetings
*** TD $1
*** explore
*** related papers
**** Read Queue
**** Paper Summary
**** Writing Material
*** Manuscript
