# -*- mode: snippet; require-final-newline: nil -*-
# name: fprop
# key: fprop
# binding: direct-keybinding
# --

    :PROPERTIES:
    :ID: 
    :Time:  ${1:$$(yas-choose-value '("10" "15" "30" "60"))}
    :Fav: $2
    :END:
