# -*- mode: snippet; require-final-newline: nil -*-
# name: zhelptable 
# key: zhp
# binding: direct-keybinding
# --

|------+---------+----------+-----|
| keys | comment | function | tag |
|------+---------+----------+-----|