# -*- mode: snippet; require-final-newline: nil -*-
# name: docu_key_template	    	 
# key: dokt 
# binding: direct-keybinding
# --


| keys | functions | comment |
|------+-----------+---------|
|$1    |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
|      |           |         |
