# -*- mode: snippet; require-final-newline: nil -*-
# name: baddpres
# key: baddpres
# binding: direct-keybinding
# --
@Unpublished{   ,
  author =	 {Itai Kloog},
  title =	 {$2},
  year =	 {$3},
  pubstate =	 {},
  howpublished=  {$4},
  tags =	 {present},
}