# -*- mode: snippet; require-final-newline: nil -*-
# name: baddunp
# key: baddunp
# binding: direct-keybinding
# --
@Unpublished{   ,
  author =	 {$1},
  title =	 {$2},
  journaltitle =  {},
  year =	 {},
  pubstate =	 {prep},
  tags =	 {},
}